.home {
    background-image: url("https://i.imgur.com/J2WoB5b.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile {
    background-image: url("https://i.imgur.com/LoClY88.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.posts {
    background-image: url("https://i.imgur.com/EXFT4Lt.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
.signup-page, .login-page {
  background: linear-gradient(to right, #3a887c, #c0c49b);
    
  }

h1 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
    color: white;
  

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.form-signin {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
    
    
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="email"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
  }
  .signup-error {
    color: rgb(164, 12, 12);
  }
  #signup-title, #login-title {
    position: relative;
    display: flex;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #d5dcdc;
    
  }
  
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 20px;
} */

