.home {
    background-image: url("https://i.imgur.com/J2WoB5b.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Comment out to edit Profile page background to "card"
.profile {
    background-image: url("https://i.imgur.com/LoClY88.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
*/


.posts {
    background-image: url("https://i.imgur.com/EXFT4Lt.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
    color: white;
  
mehari/signup
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
   */
=======
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 20px;
}

