{% extends 'base.html' %} {% block content %}

<h1>About Us!</h1>

<div class="us">
  <img src="https://avatars.githubusercontent.com/u/78124564?v=4" />
  <p>
    Meet <span>James Bell</span>! James is a software developer in the Grand
    Canyon State. His hobbies include hiking trails , off roading and spending
    time my many different kinds of animals.
  </p>

  <img src="https://avatars.githubusercontent.com/u/83929672?v=4" />
  <p>
    Meet <span>Jared Stearne</span>! Jared is a software developer who enjoys
    all things bay area sports and corgis. Particularly when and where those two
    things collide.
  </p>

  <img src="https://avatars.githubusercontent.com/u/85264224?v=4" />
  <p>
    Meet <span>Maricela Duron</span>!
  </p>

  <img src="https://avatars.githubusercontent.com/u/84303485?v=4" />
  <p>
    Meet <span>Matt DeZarn</span>! Matt is a software developer/cyber security
    enthusiast. Currently located in the Pacific North West, he loves all things
    Destiny, D&D, and Magic the Gathering.
  </p>

  <img src="https://avatars.githubusercontent.com/u/84001460?v=4" />
  <p>
    Meet <span>Mehari Abraha</span>!
  </p>

  <img src="" />
  <p>
    Meet <span>Rose Belmont</span>!
  </p>
</div>

{% endblock %}
