{% extends 'base.html' %} {% block content %}

<body style='
background: conic-gradient(rgb(132,166,98), rgb(175,117,65), rgb(132,166,98)) no-repeat center center fixed;
background-size: cover;
'>
  <h1 style="text-align: center">{{city.name}}</h1>
  <img style='
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  ' src="{{city.image}}" />
  <br />
  <p style="
  text-align: center;
  background: rgb(93,67,46);
  border-radius: 5px;
  ">
    Welcome to <span style="color: blue">{{city.name}}</span>!<br />{{city.description}}</p>

  <!-- Bootstrap ADD POST icon -->
  <a href="{% url 'create_post' %}">
    <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-plus-square-fill" viewBox="0 0 16 16">
      <path
        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
    </svg>
    <p id='createpost' style="color: white;"> Add New Park</p>
  </a>

  <!-- Bootstrap ADD POST icon -->

  {% for park in city.parks.all reversed %}
  <div class="row">
    <!-- <a href="" style="text-decoration: none"> -->
    <div class="card anchor" style="
        width: 18rem;
        padding: 20px;
        margin: 20px;
        background: #18413b;
      ">
      <a href="{% url 'posts' park.pk %}">

        <img src="{{park.image}}" class="card-img-top" alt="{{park.name}}" />
        <div class="card-body">
          <h5 class="card-title" style="color: black">{{park.name}}</h5>
          <p class="card-text"><small class="text-muted">By: {{park.user}}</small></p>
          <p class="card-text">{{park.description}}</p>


          <a href="{% url 'post_update' park.pk %}">
            <!-- Bootstrap EDIT icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil"
              viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
            <!-- Bootstrap EDIT icon -->
          </a>

          <a href="{% url 'post_delete' park.pk %}" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <!-- Bootstrap DELETE icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-file-earmark-x" viewBox="0 0 16 16">
              <path
                d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z" />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
            <!-- Bootstrap DELETE icon -->
          </a>
            <!-- Bootstrap popup modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to Delete {{park.name}}?</h5>
                </div>
                <div class="modal-footer">
                  <form action="{% url 'post_delete' park.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                  </form>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  <!-- Bootstrap popup modal -->
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <!-- </a> -->

  </div>

</body>

{% endfor %} {% endblock %}