{% extends 'base.html' %} {% block content %}


    <h1 style="text-align: center;">{{city.name}}</h1>
    <img src={{city.image}}>
    Welcome to <span style="color: blue;">{{city.name}}!</span>

    {{city.description}}


    {% for park in parks %}
    <a href="{% url 'park_detail' park.pk %}" style="text-decoration: none;">
      <div class="card anchor " style="width: 18rem; padding: 20px; margin: 20px; background: linear-gradient(to right, #18413b, #c0c49b);">
        <img src="{{park.image}}" class="card-img-top" alt="{{city.name}}">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">{{city.name}}</h5>
          <p class="card-text">{{city.description}}</p>
        </div>
      </div>
    </a>
    
    {% endfor %}

    {% endblock %}