 {% extends 'base.html' %} {% block content %}
 {%load static%} 
<body class="posts">
  <!-- Header for the Posts page. -->
  <h1>Pursuit of Posts</h1>
    <!--
  <br />
  <h2>{{post.title}} [Title of post]</h2>
  <h3>{{post.user.name}} [Name of User who made the post]</h3>
  <br />
  <p>{{post.body}} [Body of the post]</p> -->

  <div class="card" style="width: 50rem; height: 50rem; border-radius: 5%;  align-items:center; cursor:pointer;
  background-color:#7D8D87; text-align: center; margin: 0 auto; float: none; margin-bottom: 10px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all .55s ease-in-out;
  ">
    <div class="card-body">
       <!-- random text until we get data to show -->
       <h5 class="card-title" style="color:#D5DCDC;">{{park.name}}</h5>
       <h5 class="user-name">{{user.username}} </h5>
      <!-- adding random image until we can get data to show -->
     <img class="post-img" style="border-radius: 17%; max-height: 550px; max-width: 550px; padding: 30px;" src="{{park.image}}" alt="park" />
       <h5 class="card-text" style="color:#D5DCDC; font-family: Gill Sans, sans-serif;">{{park.description}}</h5>
    </div>
    <!-- BACK button -->

    <a href="{{request.META.HTTP_REFERER|escape}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
      </svg>
      <br><br>
    <!-- BACK button -->
  </div>


</body>


{% endblock %}

