{% extends 'base.html' %} {% block content %}

<body class='profile'>


<!--TEMPORARY Profile page, username display and location display-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>Profile: {{user.username}} <a href="{% url 'profile_update' user.pk %}">(edit)</a></h1> <!-- link to update form or bootstrap popup edit -->
    <h2> Display Name: {{user.display_name}}  </h2>
    <br>
    <h2> Current City: {{user.location}} </h2><!--will be added to database soon -->
    <br>
    <h2 style="color: white;"> Joined: {{user.date_joined}} </h2><!--will be added to database soon -->
  </div>
</div>
<!--Profile title page, username display and location display-->



<!-- BASIC LOOP TO DISPLAY POSTS ('Parks') FROM LOGGED IN USER -->
<!-- Need sample parks (posts) in order to design function-->
<div class="gallery">
  {% for park in parks %}
  <a href="{% url 'park_detail' park.pk %}"> <!-- Link to park-detail page (TBD) -->
    <div>
      <img src="{{park.image}}" style="max-width: 200px; max-height: 200px;" alt="{{park.name}}" /> <!--thumbnail image of park-->
      <div class="card-header-title">{{park.name}}</div> <!--name of park-->
    </div>
  </a>
  {% endfor %}
<!-- BASIC LOOP TO DISPLAY POSTS ('Parks') FROM LOGGED IN USER -->


<br><br><br>


<!-- DUMMY DATA: Placeholder data for styling parks. Temporary -->
<div class="container-fluid bg-3 text-center"> <!-- bootstrap responsive flex grid -->
  <h1>My Recently Visited Parks</h1><br>
  <div class="row">
    <div class="col-sm-2"> <!-- bootstrap styling -->
      <p>San Francisco</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2"> 
      <p>London</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2"> 
      <p>Gibraltr</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
      <p>Los Angeles</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
      <p>Boston</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center"> <!-- bootstrap responsive flex grid -->
  <div class="row">
    <div class="col-sm-2">
      <p>Austin</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2"> 
      <p>Montreal</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
      <p>Chicago</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
      <p>New Orleans</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
      <p>Portland</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
<!-- DUMMY DATA: Placeholder for styling parks (last ten) -->

<br><br><br>
<button type="button" class="btn btn-secondary">Next 10</button>

{% endblock %}

</body>
</html>