{% extends 'base.html' %} {% block content %}

<title>Bootstrap Profile Example Page</title>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* adds a pointer cursor on clickable buttons */
    button {
        cursor: pointer;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>



<!--TEMPORARY Profile page, username display and location display-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>My Recent Posts</h1>      
    <p>{{user.name}}[username here]</p> 
    <p>{{user.location}} [my location here]</p>
  </div>
</div>
<!--Profile title page, username display and location display-->


<!-- BASIC LOOP TO DISPLAY POSTS (Park objects) FROM USER -->
<!-- Need sample parks (posts) in order to design function-->
<div class="gallery">
  {% for park in parks %}
  <a href="{% url 'park_detail' park.pk %}"> <!-- Link to park-detail page (TBD) -->
    <div>
      <img src="{{park.image}}" style="max-width: 200px; max-height: 200px;" alt="{{park.name}}" /> <!--thumbnail image of park-->
      <div class="card-header-title">{{park.name}}</div> <!--name of park-->
    </div>
  </a>
  {% endfor %}
<!-- BASIC LOOP TO DISPLAY POSTS (Park objects) FROM USER -->

<br><br><br>

<!--Placeholder (dummy) parks-->
<div class="container-fluid bg-3 text-center">    
  <h3>Recent</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>San Francisco</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>London</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Gibraltr</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Los Angeles</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <p>Austin</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Montreal</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Chicago</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>New Orleans</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
<!--Placeholder (dummy) parks-->



{% endblock %}

</body>
</html>